<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.puff.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".student.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".student.Login" />
        <activity android:name=".student.SignUp" />
        <activity android:name=".student.Qualification" />
        <activity
            android:name=".student.MainDrawer"
            android:label="@string/title_activity_main_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".student.Try" />
        <activity
            android:name=".student.Prac"
            android:label="@string/title_activity_prac"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".student.Selectone" />
        <activity android:name=".AgentSignUp" />
        <activity android:name=".student.CollegeSuggestions" />
        <activity android:name=".student.CollegeDetails" />
        <activity android:name=".student.AgentDetails" />
        <activity android:name=".agent.UpdateStatus" />
        <activity android:name=".student.AgentRating" />
        <activity android:name=".student.TrackApplication" />
        <activity android:name=".student.ApplicationList" />
        <activity android:name=".agent.LPAgent" />
        <activity android:name=".agent.NewStudent" />
        <activity android:name=".agent.StudentList" />
        <activity android:name=".agent.ViewDocument" />
        <activity android:name=".agent.ProfileView" />
        <activity android:name=".agent.ProfileEdit" />
        <activity android:name=".agent.StudentProfile" />
        <activity android:name=".agent.StudentsApplication"></activity>
    </application>

</manifest>